body {
  background-color: lightgray;
  width: 100%;
}

nav {
  margin-left: 15%;
  display: flex;
  width: 70%;
  height: 40px;
  border-radius: 5px;
  align-items: center;
}

.top-element {
  width: 11%;
  background: linear-gradient(to bottom,#828282,#707070,#5f5f5f, #656565, #727272  );
  border: gray solid 1px;
  text-align: center;
  padding-top: 8px;
  height: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-element img {
  opacity: 0.8;
}

a {
  text-decoration: none;
  color: white;
 }

.top-element h5 {
  margin: 0;
  padding: 0;
}

.top-element-search {
  width: 11%;
  background: linear-gradient(to bottom,#828282,#707070,#5f5f5f, #656565, #727272);
  border: gray solid 1px;
  text-align: center;
  padding-top: 8px;
  height: 25px;
  margin-left: 0;
}

.top-element:hover {
  background-image: linear-gradient(to bottom, #727272, #444444, #222222);
  cursor: pointer;
  }


.top-element-search:hover {
background-color: gray;
}

.but-search {
  width: 90%;
  background-color: #5e5e5e;
  background-image: url(assets/lup.png);
  background-repeat: no-repeat;
  background-position: 2px 1.5px;
  background-size: 15px;
  border-radius: 15px;
  border: 0;
}

.form-search {
width: 90%;
background: linear-gradient(to bottom,#707070,#5f5f5f, #656565  );
border: 0;
}

.lup {
  float: left;
}

.main-img {
  background-image: url(assets/apple-main-img.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 99%;
  height: 400px;
  color: white;
  padding-top: 100px;
}

.main-img p {
  text-align: center;
  align-content: center;
}

.main-img-p1 {
    font-size: 60px;
    margin: 0;
    width: 50%;
    padding-left: 25%;
}

.main-img-p2 {
    font-size: 30px;
    margin: 0;
    width: 60%;
    padding-left: 20%;
}

.main-img-p3 {
    font-size: 24px;
}

.main-img-p3:hover {
  text-decoration: underline;
}

.four-img {
  max-width: 100%;
  display: inline-block;
}

.image {
  width: 24.5%;
}

.icon-play {
 opacity: 80%;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

footer {
  font-family:  Lucida Grande, Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif;
  background-color: white;
  height: auto;
  width: 100%;
}

.left-footer {
  width: 50%;
  float: left;
  text-align: right;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.left-footer ul {
  margin: 0;
  padding: 0;
  height: 20px;
  text-align: right;
  margin-right: 20px;
  justify-content: center;
  margin-top: 10px;
}

.left-footer ul li {
  height: 20px;
}


.right-footer {
  width: 50%;
  float: right;
  text-align: left;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.right-footer ul {
  margin: 0 ;
  padding: 0;
  height: auto;
  margin-top: 5px;
}


.down-footer {
  width: 100%;
  display: flex;
  font-size: 10px;
}

.down-footer ul {
 margin-left: 110px;
}

footer li {
  display:flex;
  font-size: 11px;
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  list-style: none;
  height: 20px;
}
 a{
  text-decoration: none;
  color:#0088cc;
}
a:hover {
  text-decoration: underline;
}
footer ul{
  margin-left: 0;
  margin-right: 0;
}